<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <title>Save Counter</title>
</head>

<body>
<div id="bannerimage" style="margin-bottom: 20px;"></div>

<div class="container">


    <h3> Add Counter</h3>

    <form action="#" th:action="@{/counters/save}"
          th:object="${counter}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{counterName}"
               class="form-control mb-4 w-25" placeholder="counter name">

        <input type="text" th:field="*{value}"
               class="form-control mb-4 w-25" placeholder="1">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/counters/list}"
       class="btn btn-primary btn-sm mb-3">
        Back to the Counter List
    </a>
</div>


</body>

</html>







